
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --text-muted:#6b7280;
  --text-active:#EF2424;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}